.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.pt-serif-bold {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
}

.pt-serif-regular-italic {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
}

.pt-serif-bold-italic {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
}


/* General */
body {
    margin: 0;
}

h1 {
    font-family: "Gloock";
}


/* Header */
.header {
    display: flex;
    justify-content: center;
    background-color: black;

    padding: 10px 0 10px 0;
    z-index: 1000;
}

.navbar {
    margin: 0;
    padding: 0;
    width: 30vw;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "PT Serif";
}

li {
    padding: 0 14px 0 14px;
    list-style-type: none;
    font-size: 20px;
    font-weight: 700;
    color: white;
    filter: blur(1px);
    transition: all 1.5s ease;
    cursor: pointer;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    text-underline-offset: 0.1em;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

li:hover {
    filter: none;
    text-decoration-color: rgb(255, 255, 255);
    /*background-color: black;
    color: white;*/
    transition: all 0.5s ease;
}

#active {
    filter: none;
    background-color: black;
    color: white;
    text-decoration-color: rgb(255, 255, 255);
    text-underline-offset: 0.4em;
    transition: all 0.5s linear;
}

.logo {
    width: 40;
    height: 40px;
    padding: 0 8px 0 8px;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}

.logo:active {
    transform: scale(1.2);
    transition: all .3s;
}

.transition-space {
    height: 20px;
    width: 100%;
    background: linear-gradient(black, white);
}

/* Body Animations */
.pop-in {
    animation: pop-in 0.75s;
    -webkit-animation: pop-in 0.75s;
}

@keyframes pop-in {
    0% {
        opacity: 0;
    }
    30% {
        transform: scale(1.05);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.pop-out {
    animation: pop-out 0.3s;
    -webkit-animation: pop-out 0.3s;
}

@keyframes pop-out {
    0% {
        opacity: 1;
    }
    75% {
        transform: scale(1.1);
        opacity: 0.5;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}


/* Body */
/* TODO: Selected Item Styling. Maybe only move the black highlight if the object contains class "active"?*/
.body-container {
    display: flex;
    width: 100vw;
    height: 80vh;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
}

.column {
    width: 45%;
    padding: 10px;
    height: auto;
    text-align: center;
}

.midcolumn {
    width: 10%;
    padding: 10px;
    height: auto;
    text-align: center;
}


/* Panel Styling */
