body {
    margin: 0;
}

.header {
    background-color: #DBD8CE;
    margin: 0;
    padding: 0;

    text-align: center;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0;
    padding: 0;
}